.detail{
    max-width: 1000px;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:50px;
    font-size:100%;
    background-color: rgb(36, 36, 36);
    margin:20px auto;
    padding:20px;
    border-radius: 20px;
  
}

.detail img{
    max-width:300px;
    width:250px;
    margin:20px;
    height:250px;
    object-fit: cover;
    display: block;
    margin:30px 0;
    padding:10px;
    border:2px solid whitesmoke;
}
.detail img:hover{
    transform: scale(1.3)
}
.box-detail{
    max-width: 500px;
    width:100%;
    margin:5px 20px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    font-weight: 2rem;
}

.box-detail h6{
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    font-weight: 700;
    padding:5px 10px;
    border-radius:10px;
    font-size:19px;
    background-color: rgb(230, 14, 122);
}
.box-detail h5{
    text-transform: uppercase;
    color:rgb(204, 15, 15);
    letter-spacing: 2px;
    font-weight: 700;
    font-size:19px;
}
.box-detail p{
    line-height: 1.5;
    margin:10px 0;
    opacity:0.8;
    color:white;
    border-bottom: 1px solid honeydew;
    padding:10px 0;
}

.box-detail .cart{
    background:black;
    color:white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}