header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid hotpink;
    background: rgb(255, 255, 255);
}

header .logo{
    flex:1;
}

header a{
    text-transform: uppercase;
    color:rgb(66, 66, 66);
}

header ul li{
    display: inline-block;
    opacity: 0.7;
    padding:0 20px
}
header ul li:hover{
    opacity: 1;
}
.menu{
  display: none;  
}

.cart-icon{
    position: relative;
    margin-right: 20px;
}
.cart-icon span{
    background: salmon;
    border-radius: 10px;
    color: wheat;
    position: absolute;
    top:-10px;
    right:25px;
    padding: 5px 5px;
    font-size: 10px;
}